/* height 100% */
html, body {
    height: 100%;
}
.bloco {min-height: 100%;
        padding-top: 94px;
}
/* COLOERS */

.blue-logo{
    background-color: rgb(5, 5, 78);
}
.artigos{
    background-color: rgba(0, 0, 0, 0.932);
    font-family: 'Courier New', Courier, monospace; 
    color: rgb(255, 255, 255);
}
.banner h2{
    font-size: 2.5rem; 
    font-weight: 900;
    text-transform:uppercase ;
}
.banner p{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.font{font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    background-color: transparent;
}
/* MENU */
.navbar{
    transition: background 0.5s linear ;
    background-color: transparent;
}
.navbar ul a:hover{
    background-color: transparent;
    color:rgb(237, 188, 210);
}
.nav-color{
    background-color:rgba(249, 249, 255, 0.445);
    transition: background 0.5s linear ;
}
/* home 100% */ /* Background da página*/
.home {animation: mudarbg 10s infinite ;
    background-image: url("../img/background3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* LOGO */
.logo_text{
    font-size: 0;
    margin: 0;
}
.logo_img {
    width: 40px;
    margin-top: 15px;
}
/* CUSTOM */

nav {
    color:#fff;
    background-color: rgb(92, 95, 128);
    width: 100%;
    height: 94px;
    line-height: 94px;
  }
  nav.nav-extended .nav-wrapper {
    min-height: 94px;
    height: auto;
  }
  .side-nav{
      background:url("../img/textura3.png");
  }
.side-nav li>a {
    color: rgba(229, 109, 253, 0.712);    
}
/* MEDIA */
@media only screen and (max-width: 480px) {
  }
@media only screen and (min-width: 601px) {
    .container{width:85%;}
    .banner {padding-top:4.5rem;}
    .banner h2{font-size: 4rem;
    }
}
@media only screen and (min-width: 993px) {
    .banner {padding-top: 5rem;}
    .banner h2{font-size: 5rem;}
    .container {
        width: 90%;
      
    }
  }
  /* SOBRE */
  .sobre{
      background:url("../img/textura3.png");
  }
  .sobre h2{
      font-size: 2rem;
      color: #ffffff;
      text-transform: uppercase;
  }
  .sobre h2::after {
        content:'';
        display: block;
        width: 100px;
        border-top: 1px solid rgba(255, 0, 0, 0);
        margin:15px auto;
  }
  .sobre p {
      line-height: 1.8rem;
      text-align: justify;
      color:white;
  }
  .sobre .video-musica-leitura{
      padding:20px 0 ;
  }
  .sobre .video-musica-leitura .icon{color:red;

  }
  .sobre .video-musica-leitura .icon h3 {
      font-size:1.5rem;
      text-transform: uppercase;
  }
/* MENU PARA MIBOLIE */
nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 94px;
  line-height: 94px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #7159c1;
    font-family: Roboto, Arial, sans-serif;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
  }
  
  form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: darkslateblue;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #7159c1;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }